<div id='gameee'></div>
<div class = 'level hud' style = 'top: 0px; left: 46%;'>Level: 1</div>
<div class = 'score hud p1' style = 'top: 0px;'>Score: 0</div>
<div class = 'lives hud p1' style = 'top: 25px;'>Lives: 3</div>
<div class = 'score hud p2' style = 'top: 0px; display: none;'>Score: 0</div>
<div class = 'lives hud p2' style = 'top: 25px; display: none;'>Lives: 3</div>
<div class = 'death hud' style = 'top: 20%; left: 46%; display: none;'>Invincibility</div>

<div class='ingameOptionsOverlay'>
  <div class='ingameOptions'></div>
</div>

<div class='gameOverOverlay'>
  <div class='gameOver'></div>
</div>
