<div class='title'>Asteroids</div>
<div class='menuWrapper'>
  <div class='button game'>New Game</div>
  <div class='button hs'>High Scores</div>
  <div class='button set'>Settings</div>
  <div class='button cred'>Credits</div>
  <div class='button exit'>Exit</div>
</div>

<div class='playerCountOverlay'>
  <div class='playerCount'>
    <div class='text' style='text-align: center;'>Game Options</div>
    <div class='button 1 pCount'>One Player</div>
    <div class='button 2 pCount'>Two Players</div>
  </div>
</div>
